@{
    ViewBag.Title = "About";
}
<h2>Zadanie rekrutacyjne.</h2>


<p>
    Wykonaj aplikację w technologii .Net wykorzystując język C# realizującą funkcjonalność to-do listy z opcją
    przypomnień.<br />
    Wykaz funkcjonalności, które powinna dostarczać aplikacja<br />
     Realizacja w architekturze klient – serwer<br />
     Możliwość udostępniania pozycji z listy innym uczestnikom<br />
     Powiadomienia o zaplanowanych pozycjach wysyłane na adres email uczestników<br />
     Możliwość zdefiniowania terminu powiadomienia<br />
     Grupowanie elementów w kategorie (Dom, Praca, Hobby)<br />
     Tagowanie elementów<br /><br />
    Dodatkowo aplikacja powinna przedstawiać podsumowanie ilości pozycji oraz terminy 3 najbliższych
    przypomnień.<br />
    Przykład<br />
    Pozycja: Dentysta<br />
    Grupa: Prywatne<br />
    Tag: Ważne<br />
    Przypomnienie: 14.01.2019 19:00<br />
</p>
