@{
    ViewBag.Title = "Kontakt";
}
<h2>Kontakt:</h2>

<address>
    Marcel Śpiączka<br />
    Pszczew, Dworcowa 8/3<br />
    <abbr title="Phone">+48 698 413 318</abbr>
    
</address>

<address>
    <strong>Mój mail:</strong>   <a href="mailto:marcelspiaczka@gmail.com">marcelspiaczka@gmail.com</a><br />
    
</address>