@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>TODO</h1>
    <p class="lead">Już teraz zarejestruj się w naszym serwisie.</p>
    <p><a href="/Account/Register" class="btn btn-primary btn-lg">Zarejestruj się &raquo;</a></p>
</div>

